<%= week_calendar number_of_weeks: 1, events: upcoming_appointments do |date, meetings| %>
  <strong><%= date %></strong>
  <Br><Br>
  <% meetings.each do |meeting| %>
    <div>
      <p class="meeting"><%= meeting.formatted_start_time %>-<%= meeting.formatted_end_time %> w/
      <% if student? %>
        <a class="profile-modal-link" data-target="#myModal" data-toggle="modal" href="#" id="<%= meeting.mentor.user.id %>-profile"><%= meeting.mentor.first_name %></a>
      <% else %>
        <a class="profile-modal-link" data-target="#myModal" data-toggle="modal" href="#" id="<%= meeting.mentor.user.id %>-profile"><%= meeting.student.first_name %></a>
      <% end %>
    </p>
    </div>
  <% end %>
<% end %>
