- if current_user
  %h1
    Welcome #{current_user.first_name}
  %h2 Upcoming Appointments
  - @upcoming_appointments.each do |appointment|
    Date:
    = appointment.formatted_date
    - if student?
      %a{:href => "#"} Cancel
    %br/
    Time:
    = appointment.formatted_start_time
    \-
    = appointment.formatted_end_time
    w/
    - if student?
      %a{:href => "#"}= appointment.mentor.first_name
    - else
      %a{:href => "#"}= appointment.student.first_name
    %br/
    %br/
- else
  = render(:partial => '/layouts/login_form')

- if current_user
  - if mentor?
    /\#{button_to "Create Appointment", { :action => "new" }, :method => :get}
    \#{link_to '<button type="button">Create Appointment</button>'.html_safe, new_appointment_path}

-if current_user
  %h1 SUPS
  %h2 Available Appointments
  - @appointments.each do |appointment|
    Date:
    = appointment.formatted_date
    - if student?
      %a{:href => "#"} Book now
    %br/
    Time:
    = appointment.formatted_start_time
    \-
    = appointment.formatted_end_time
    w/
    %a{:href => "#"}= appointment.mentor.first_name
    %br/
    %br/
