.index-container
  - if current_user
    %h1
      Welcome, #{current_user.first_name}
    .container
    .row
      .col-sm-4
        %h2 Upcoming Appointments
        - if mentor?
          \#{link_to '<button type="button">Create Appointment</button>'.html_safe, new_appointment_path}
        %br/
        %br/
        - @upcoming_appointments.each do |appointment|
          Date:
          = appointment.formatted_date
          - if student?
            %a{:href => "#"} Cancel
          %br/
          Time:
          = appointment.formatted_start_time
          \-
          = appointment.formatted_end_time
          w/
          - if student?
            %a{:href => "#"}= appointment.mentor.first_name
          - else
            %a{:href => "#"}= appointment.student.first_name
          %br/
          %br/
        
      .col-sm-8
        -if current_user
          %h2 Available Appointments
          - @available_appointments.each do |appointment|
            Date:
            = appointment.formatted_date
            - if student?
              /%a{:href => edit_appointment_path} Book now
              = link_to 'Book Now', appointment_path(appointment), method: :put
            %br/
            Time:
            = appointment.formatted_start_time
            \-
            = appointment.formatted_end_time
            w/
            %a{:href => "#"}= appointment.mentor.first_name
            %br/
            %br/

  - else
    = render(:partial => '/layouts/login_form')

