= render 'show'

%h2
  Past Appointments
%div
- @user.role_obj.past_appointments.each do |appointment|
  Date:
  = appointment.formatted_date
  - if student?
    %a{:href => '#'} Give Feedback
  %br/
  Time:
  = appointment.formatted_start_time
  \-
  = appointment.formatted_end_time
  w/
  %a{"data-target" => "#myModal", "data-toggle" => "modal", :href => "#", :id => "#{appointment.mentor.user.id}-profile"} #{appointment.mentor.first_name}
  %br/
  %br/

