%h1 Create new appointment
- if @errors
  - @errors.each do |error|
    = error
= form_for @appointment do |f|
  Date: #{f.date_select :date}
  %br/
  Start Time: #{f.time_select :start_time, :ampm => true, :minute_step => 30}
  %br/
  End Time: #{f.time_select :end_time, :ampm => true, :minute_step => 30}
  %br/
  %br/
  \#{f.submit class: "btn btn-primary"}
